@model List<BusinessLayer.DTOModels.ContractDTO>
@{
    ViewData["Title"] = "Contract List";
    ViewData["ActionName"] = "Contract";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Styles {
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/custom-styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
}

@section content {
    <br />
    <div class="container">
        <h2 class="header-title">Contract Management</h2>

        <div class="header-container">

            <input type="text" id="searchInput" class="search-bar" placeholder="Search Contract..." />
       
        </div>

        <div class="container table-container">
            <table class="table table-hover table-bordered" id="PropertyTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Agent</th>
                        <th>End Date</th>
                        <th>Payment Method</th>
                        <th>Location</th>
                        
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody id="UserTable">
                    @foreach (var contract in Model)
                    {
                        <tr>
                            <td>@contract.ContractType</td>
                            <td>@contract.Agent</td>
                            <td>@contract.EndDate</td>
                            <td>@contract.PaymentMethodId</td>
                            <td>@contract.PropertyLocation</td>
                 
                  
                       
                            <td>

                                <a asp-action="" asp-controller="Admin" asp-route-Id="@contract.Id" class="btn btn-custom btn-delete">
                                    <i class="fas fa-info-trash"></i>Archive
                                </a>
                                <a asp-action="ContractDetails" asp-controller="Admin" asp-route-Id="@contract.Id" class="btn btn-custom btn-details">
                                    <i class="fas fa-info-circle"></i>Details
                                </a>
                                <a asp-action="" asp-controller="Admin" asp-route-Id="@contract.Id" class="btn btn-custom btn-success">
                                    <i class="fas fa-info-accept"></i>Accept
                                </a>
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
            <a asp-action="Admin" asp-controller="Account" class="btn btn-custom btn-details">
                <i class="fas fa-rotate-back"></i> Back
            </a>
        </div>
    </div>


    <br />

  
    <div class="services section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a href="@Url.Action("ListUsers", "Admin")" class="stretched-link">
                            <h3>Users</h3>
                        </a>
                        <p>List All Users.</p>
                    </div>
                </div><!-- End Service Item -->


                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a href="@Url.Action("ListContracts", "Admin")" class="stretched-link">
                            <h3>Contracts</h3>
                        </a>
                        <p>Viewe Contracts.</p>
                    </div>
                </div><!-- End Service Item -->
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a href="@Url.Action("ListProperties", "Admin")" class="stretched-link">
                            <h3>Properties</h3>
                        </a>
                        <p>CRUD on Properties</p>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            // Search function
            $('#searchInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('#PropertyTable tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

         
    </script>
}
